<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
    <title>Hearken Me</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="theme.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <h1 align="center">Hearken Me</h1>
    <p>
    <a href="/">I want to say so much,please hearken me.</a>
  </p>
</header>
      {% block body %}
      {% endblock %}

<footer class="colophon">


  <p>&copy; 2013. All rights reserved.</p>
</footer>

    </div>
  </body>
</html>
