{% extends "base.html" %}
{% block body %}

<div id="title">
  <h1>{{ post.title }}</h1>
  <span class="meta">{{ post.date }}</span>
 

<div id="content">
{{ post.html }}
</div>


<p></p>
<hr />
{% endblock %}
 <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"hearkenme"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
